{
  "swagger": "2.0",
  "info": {
    "description": "An API to allow digital filing of a confirmation statement",
    "version": "1.0.0",
    "title": "Companies House - Confirmation Statement API"
  },
  "host": "api.companieshouse.gov.uk",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "Confirmation Statement"
    }
  ],
  "paths": {
    "/transactions/{transaction_id}/confirmation-statement": {
      "parameters": [
        {
          "name": "transaction_id",
          "in": "path",
          "required" : true,
          "type" : "string"
        }
      ],
      "post": {
        "summary": "Create a new Confirmation Statement Submission",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Confirmation Statement"
        ],
        "responses": {
          "201": {
            "description": "A Confirmation Statement Submission has been created.",
            "schema": {
              "$ref": "#/definitions/ConfirmationStatementSubmission"
            }
          },
          "401":{
            "description": "Unauthorised"
          },
          "400": {
            "description": "The provided Company Number failed validation",
            "schema": {
              "$ref": "#/definitions/CompanyValidationResponse"
            }
          }
        }
      }
    },
    "/transactions/{transaction_id}/confirmation-statement/{confirmation_statement_id}": {
      "parameters": [
        {
          "name": "transaction_id",
          "in": "path",
          "required" : true,
          "type" : "string"
        },
        {
          "name": "confirmation_statement_id",
          "in": "path",
          "required" : true,
          "type" : "string"
        }
      ],
      "get": {
        "summary": "Retrieve a Confirmation Statement Submission",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Confirmation Statement"
        ],
        "responses": {
          "200": {
            "description": "The Specified Confirmation Statement Submission.",
            "schema": {
              "$ref": "#/definitions/ConfirmationStatementSubmission"
            }
          },
          "400": {
            "description": "A provided url id failed validation"
          },
          "401":{
            "description": "Unauthorised"
          },
          "404": {
            "description": "Submission not found"
          }
        }
      },
      "post": {
        "summary": "Update a Confirmation Statement Submission",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Confirmation Statement",
            "in": "body",
            "required" : true,
            "schema": {
              "$ref": "#/definitions/ConfirmationStatementSubmission"
            }
          }
        ],
        "tags": [
          "Confirmation Statement"
        ],
        "responses": {
          "200": {
            "description": "The Specified Confirmation Statement Submission has been updated.",
            "schema": {
              "$ref": "#/definitions/ConfirmationStatementSubmission"
            }
          },
          "400": {
            "description": "A provided url id failed validation"
          },
          "401":{
            "description": "Unauthorised"
          },
          "404": {
            "description": "Submission not found"
          }
        }
      }
    },
    "/transactions/{transaction_id}/confirmation-statement/{confirmation_statement_id}/validation-status" : {
      "parameters": [
        {
          "name": "transaction_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "confirmation_statement_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Verify that all the tasks for the Specified Confirmation Statement Submission have been completed",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Validation Status"
        ],
        "responses": {
          "200": {
            "description": "The Specified Confirmation Statement Submission tasks have been completed.",
            "schema": {
              "$ref": "#/definitions/ValidationStatusResponse"
            }
          },
          "400": {
            "description": "A provided url id failed validation"
          },
          "401":{
            "description": "Unauthorised"
          },
          "404": {
            "description": "Submission not found"
          }
        }
      }
    },
    "/transactions/{transaction_id}/confirmation-statement/{confirmation_statement_id}/statement-of-capital": {
      "parameters": [
        {
          "name": "transaction_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "confirmation_statement_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Get Statement of capital data",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Statement of capital"
        ],
        "responses": {
          "200": {
            "description": "Statement of capital data",
            "schema": {
              "$ref": "#/definitions/StatementOfCapitalResponse"
            }
          },
          "400": {
            "description": "A provided url id failed validation"
          },
          "401":{
            "description": "Unauthorised"
          },
          "404": {
            "description": "Statement of capital data not found"
          }
        }
      }
    },
    "/confirmation-statement/company/{company_number}/eligibility": {
      "parameters": [
        {
          "name": "company_number",
          "in": "path",
          "required" : true,
          "type" : "string"
        }
      ],
      "get": {
        "summary": "Checks if a Company is Eligible to use this API",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Confirmation Statement"
        ],
        "responses": {
          "200": {
            "description": "The eligibility check was successful - response body indicates whether this company can use this service to file a Confirmation Statement",
            "schema": {
              "$ref": "#/definitions/CompanyValidationResponse"
            }
          },
          "400": {
            "description": "The provided Company Number failed validation"
          },
          "404": {
            "description": "Company not found"
          }
        }
      }
    },
    "/transactions/{transaction_id}/confirmation-statement/{confirmation_statement_id}/costs": {
      "parameters": [
        {
          "name": "transaction_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "confirmation_statement_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
       ],
      "get": {
        "summary": "Get payment costs for filing the statement",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Costs"
        ],
        "responses": {
          "200": {
            "description": "List of costs",
            "schema": {
              "$ref": "#/definitions/CostsResponse"
            }
          },
          "400": {
            "description": "A provided url id failed validation"
          },
          "401":{
            "description": "Unauthorised"
          }
        }
      }
    },
    "/transactions/{transaction_id}/confirmation-statement/{confirmation_statement_id}/active-director-details": {
      "parameters": [
        {
          "name": "transaction_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "confirmation_statement_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Get the active officer details",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Active officer details"
        ],
        "responses": {
          "200": {
            "description": "Active officer details",
            "schema": {
              "$ref": "#/definitions/ActiveOfficersDetailsResponse"
            }
          },
          "400": {
            "description": "A provided url id failed validation"
          },
          "401":{
            "description": "Unauthorised"
          },
          "404": {
            "description": "Active officer details not found",
            "schema": {
              "$ref": "#/definitions/ActiveOfficersDetailsResponse"
            }
          }
        }
      }
    },
    "/transactions/{transaction_id}/confirmation-statement/{confirmation_statement_id}/persons-of-significant-control": {
      "parameters": [
        {
          "name": "transaction_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "confirmation_statement_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Get the details of the persons of significant control",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Persons of significant control"
        ],
        "responses": {
          "200": {
            "description": "List of person of significant control",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonsOfSignificantControlResponse"
              }
            }
          },
          "400": {
            "description": "A provided url id failed validation"
          },
          "401":{
            "description": "Unauthorised"
          }
        }
      }
    },
    "/transactions/{transaction_id}/confirmation-statement/{confirmation_statement_id}/shareholders": {
      "parameters": [
        {
          "name": "transaction_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "confirmation_statement_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Get the details of the shareholder",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Shareholders"
        ],
        "responses": {
          "200": {
            "description": "List of shareholders",
            "schema": {
              "$ref": "#/definitions/ShareholdersResponse"
            }
          },
          "400": {
            "description": "A provided url id failed validation"
          },
          "401":{
            "description": "Unauthorised"
          }
        }
      }
    },
    "/transactions/{transaction_id}/confirmation-statement/{confirmation_statement_id}/register-locations": {
      "parameters": [
        {
          "name": "transaction_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "confirmation_statement_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Get the details of the register locations",
        "produces": [
          "application/json"
        ],
        "tags": [
          "RegisterLocations"
        ],
        "responses": {
          "200": {
            "description": "List of register locations",
            "schema": {
              "$ref": "#/definitions/RegisterLocationResponse"
            }
          },
          "400": {
            "description": "A provided url id failed validation"
          },
          "401":{
            "description": "Unauthorised"
          }
        }
      }
    },
    "/confirmation-statement/company/{company-number}/next-made-up-to-date": {
      "parameters": [
        {
          "name": "company-number",
          "in": "path",
          "required" : true,
          "type" : "string"
        }
      ],
      "get": {
        "summary": "Gets the confirmation statement next made up to date information for the company",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Next Made Up To Date"
        ],
        "responses": {
          "200": {
            "description": "Next made up to date information",
            "schema": {
              "$ref": "#/definitions/NextMadeUpToDateResponse"
            }
          },
          "404": {
            "description": "Company not found"
          }
        }
      }
    },
    "/private/transactions/{transaction_id}/confirmation-statement/{confirmation_statement_id}/filings": {
      "parameters": [
        {
          "name": "transaction_id",
          "in": "path",
          "required" : true,
          "type" : "string"
        },
        {
          "name": "confirmation_statement_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Gets filing data ready to send send to CHIPS",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Filings"
        ],
        "responses": {
          "200": {
            "description": "Filing data",
            "schema": {
              "$ref": "#/definitions/FilingAPIResponse"
            }
          },
          "400": {
            "description": "A provided url id failed validation"
          },
          "401":{
            "description": "Unauthorised"
          },
          "404": {
            "description": "Submission not found"
          }
        }
      }
    },
    "/private/confirmation-statement/company/{company_number}/registered-email-address": {
      "parameters": [
        {
          "name": "company_number",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "summary": "Get the details of the Registered Email Address",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Registered Email Address"
        ],
        "responses": {
          "200": {
            "description": "Registered email address",
            "schema": {
              "$ref": "#/definitions/registeredEmailAddressResponse"
            }
          },
          "400": {
            "description": "A provided url id failed validation"
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Registered email address not found"
          },
          "500":{
            "description": "internal server error"
          }
        }
      }
    }
  },
  "definitions": {
    "ConfirmationStatementSubmission": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "data": {
          "$ref": "#/definitions/ConfirmationStatementSubmissionData"
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      }
    },
    "ConfirmationStatementSubmissionData": {
      "type": "object",
      "properties": {
        "statement_of_capital_data": {
          "type": "object",
          "properties": {
            "statement_of_capital": {
              "$ref": "#/definitions/StatementOfCapitalResponse"
            },
            "section_status": {
              "$ref": "#/definitions/SectionStatusResponse"
            }
          }
        },
        "persons_significant_control_data": {
          "type": "object",
          "properties": {
            "persons_significant_control": {
              "$ref": "#/definitions/PersonsOfSignificantControl"
            },
            "section_status": {
              "$ref": "#/definitions/SectionStatusResponse"
            }
          }
        },
        "sic_code_data": {
          "type": "object",
          "properties": {
            "sic_code": {
              "$ref": "#/definitions/SicCodeResponse"
            },
            "section_status": {
              "$ref": "#/definitions/SectionStatusResponse"
            }
          }
        },
        "registered_office_address_data": {
          "type": "object",
          "properties": {
            "section_status": {
              "$ref": "#/definitions/SectionStatusResponse"
            }
          }
        },
        "active_officer_details_data": {
          "type": "object",
          "properties": {
            "section_status": {
              "$ref": "#/definitions/SectionStatusResponse"
            }
          }
        },
        "shareholder_data": {
          "type": "object",
          "properties": {
            "section_status": {
              "$ref": "#/definitions/SectionStatusResponse"
            }
          }
        },
        "register_locations_data": {
          "type": "object",
          "properties": {
            "section_status": {
              "$ref": "#/definitions/SectionStatusResponse"
            }
          }
        },
        "confirmation_statement_made_up_to_date": {
          "type": "string",
          "format": "date"
        },
        "trading_status_data": {
          "$ref": "#/definitions/TradingStatusResponse"
        },
        "registered_email_address_data": {
          "type": "object",
          "properties": {
            "registered_email_address": {
              "$ref": "#/definitions/registeredEmailAddressResponse"
            },
            "section_status": {
              "$ref": "#/definitions/SectionStatusResponse"
            }
          }
        },
        "accept_lawful_purpose_statement": {
          "type": "boolean"
        }
      }
    },
    "CompanyValidationResponse": {
      "type": "object",
      "properties": {
        "eligibility_status_code": {
          "$ref": "#/definitions/EligibilityStatusCode"
        }
      }
    },
    "EligibilityStatusCode": {
      "type": "string",
      "enum": [
        "COMPANY_VALID_FOR_SERVICE",
        "INVALID_COMPANY_APPOINTMENTS_INVALID_NUMBER_OF_OFFICERS",
        "INVALID_COMPANY_APPOINTMENTS_MORE_THAN_ONE_PSC",
        "INVALID_COMPANY_APPOINTMENTS_MORE_THAN_FIVE_PSCS",
        "INVALID_COMPANY_APPOINTMENTS_MORE_THAN_ONE_SHAREHOLDER",
        "INVALID_COMPANY_STATUS",
        "INVALID_COMPANY_TRADED_STATUS_USE_WEBFILING",
        "INVALID_COMPANY_TYPE_CS01_FILING_NOT_REQUIRED",
        "INVALID_COMPANY_TYPE_PAPER_FILING_ONLY",
        "INVALID_COMPANY_TYPE_USE_WEB_FILING",
        "COMPANY_NOT_FOUND"
      ]
    },
    "CostsResponse": {
      "type": "object",
      "properties": {
        "amount": {
          "type": "string"
        },
        "availablePaymentMethods": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "classOfPayment": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string"
        },
        "descriptionIdentifier": {
          "type": "string"
        },
        "descriptionValues": {
          "$ref": "#/definitions/Description"
        },
        "isVariablePayment": {
          "type": "boolean"
        },
        "kind": {
          "type": "string"
        },
        "resourceKind": {
          "type": "string"
        },
        "productType": {
          "type": "string"
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      }
    },
    "StatementOfCapitalResponse": {
      "type": "object",
      "properties": {
        "classOfShares":  {
          "type": "string"
        },
        "currency":  {
          "type": "string"
        },
        "numberAllotted":  {
          "type": "integer"
        },
        "aggregateNominalValue":  {
          "type": "integer"
        },
        "prescribedParticulars":  {
          "type": "string"
        },
        "totalNumberOfShares":  {
          "type": "integer"
        },
        "totalAggregateNominalValue":  {
          "type": "integer"
        },
        "totalAmountUnpaidForCurrency":  {
          "type": "integer"
        }
      }
    },
    "ActiveOfficersDetailsResponse": {
      "type": "object",
      "properties": {
        "fore_name_1":  {
          "type": "string"
        },
        "fore_name_2":  {
          "type": "string"
        },
        "surname":  {
          "type": "string"
        },
        "occupation":  {
          "type": "string"
        },
        "nationality":  {
          "type": "string"
        },
        "date_of_birth":  {
          "type": "string"
        },
        "date_of_appointment":  {
          "type": "string"
        },
        "country_of_residence":  {
          "type": "string"
        },
        "service_address":  {
          "$ref": "#/definitions/Address"
        },
        "residential_address":  {
          "$ref": "#/definitions/Address"
        },
        "is_corporate":  {
          "type": "boolean"
        },
        "role":  {
          "type": "string"
        },
        "place_registered":  {
          "type": "string"
        },
        "registration_number":  {
          "type": "string"
        },
        "law_governed":  {
          "type": "string"
        },
        "legal_form":  {
          "type": "string"
        },
        "identification_type":  {
          "type": "string"
        }
      }
    },
    "PersonsOfSignificantControlResponse": {
      "type": "object",
      "properties": {
        "address": {
          "$ref": "#/definitions/Address"
        },
        "natures_of_control": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "date_of_birth": {
          "$ref": "#/definitions/DateOfBirth"
        },
        "name": {
          "type": "string"
        },
        "nameElements": {
          "$ref": "#/definitions/NameElements"
        },
        "nationality": {
          "type": "string"
        },
        "appointment_type": {
          "type": "string"
        },
        "appointment_date": {
          "type": "string"
        },
        "service_address": {
          "$ref": "#/definitions/Address"
        },
        "company_name": {
          "type": "string"
        },
        "register_location": {
          "type": "string"
        },
        "registration_number": {
          "type": "string"
        },
        "law_governed": {
          "type": "string"
        },
        "legal_form": {
          "type": "string"
        },
        "country_of_residence": {
          "type": "string"
        }
      }
    },
    "Address": {
      "type": "object",
      "properties": {
        "address_line_1": {
          "type": "string"
        },
        "address_line_2": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "locality": {
          "type": "string"
        },
        "po_box": {
          "type": "string"
        },
        "postal_code": {
          "type": "string"
        },
        "premises": {
          "type": "string"
        },
        "region": {
          "type": "string"
        }
      }
    },
    "RegisteredEmailAddress": {
      "type": "string"
    },
    "DateOfBirth": {
      "type": "object",
      "properties": {
        "month": {
          "type": "string"
        },
        "year": {
          "type": "string"
        }
      }
    },
    "NameElements": {
      "type": "object",
      "properties": {
        "forename": {
          "type": "string"
        },
        "other_forenames": {
          "type": "string"
        },
        "surname": {
          "type": "string"
        }
      }
    },
    "ShareholdersResponse": {
      "type": "object",
      "properties": {
        "fore_name_1": {
          "type": "string"
        },
        "fore_name_2": {
          "type": "string"
        },
        "surname": {
          "type": "string"
        },
        "shares": {
          "type": "number"
        },
        "class_of_shares": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        }
      }
    },
    "RegisterLocationResponse": {
      "type": "object",
      "properties": {
        "register_type_desc": {
          "type": "string"
        },
        "sail_address": {
          "type": "object",
          "properties": {
            "address_line_1": {
              "type": "string"
            },
            "address_line_2": {
              "type": "string"
            },
            "country": {
              "type": "string"
            },
            "locality": {
              "type": "string"
            },
            "po_box": {
              "type": "string"
            },
            "postal_code": {
              "type": "string"
            },
            "premises": {
              "type": "string"
            },
            "region": {
              "type": "string"
            }
          }
        }
      }
    },
    "NextMadeUpToDateResponse": {
      "type": "object",
      "properties": {
        "current_next_made_up_to_date": {
          "type": "string",
          "format": "date"
        },
        "is_due": {
          "type": "boolean"
        },
        "new_next_made_up_to_date": {
          "type": "string",
          "format": "date"
        }
      },
      "required": [
        "current_next_made_up_to_date"
      ]
    },
    "FilingAPIResponse": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/Data"
        },
        "description": {
          "type": "string"
        },
        "description_identifier": {
          "type": "string"
        },
        "description_values": {
          "$ref": "#/definitions/Description"
        },
        "kind": {
          "type": "string"
        }
      }
    },
    "registeredEmailAddressResponse": {
      "type": "object",
      "properties": {
        "registered_email_address": {
          "type": "string",
          "example": "test@test.com"
        }
      }
    },
    "ValidationStatusResponse": {
      "type": "object",
      "properties": {
        "is_valid": {
          "type": "boolean"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationStatusError"
          }
        }
      }
    },
    "ValidationStatusError": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "location_type": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "Data": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "object"
        }
      }
    },
    "Description": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "TradingStatusResponse": {
      "type": "object",
      "properties": {
        "trading_status_answer": {
          "type": "boolean"
        }
      }
    },
    "PersonsOfSignificantControl": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "nationality": {
            "type": "string"
          },
          "full_date_of_birth": {
            "type": "string",
            "format": "date"
          },
          "usual_residential_address": {
            "type": "string"
          },
          "correspondence_address": {
            "type": "string"
          },
          "natures_of_control": {
            "type": "string"
          }
        }
    },
    "SicCodeResponse": {
      "type": "object",
      "properties": {
        "SicCodeData": {
          "type": "object",
          "properties": {
            "code": {
              "type": "string"
            },
            "description": {
              "type": "string"
            }
          }
        }
      }
    },
    "SectionStatusResponse": {
      "type": "string",
      "enum": [
        "CONFIRMED",
        "NOT_CONFIRMED",
        "RECENT_FILING",
        "INITIAL_FILING"
      ]
    }
  }
}
