{
  "swagger": "2.0",
  "info": {
    "description": "An API to allow digital filing of a confirmation statement",
    "version": "1.0.0",
    "title": "Companies House - Confirmation Statement API"
  },
  "host": "internalapi.companieshouse.gov.uk",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "Confirmation Statement"
    }
  ],
  "paths": {
    "/transactions/{transaction_id}/confirmation-statement": {
      "parameters": [
        {
          "name": "transaction_id",
          "in": "path",
          "required" : true,
          "type" : "string"
        }
      ],
      "post": {
        "summary": "Create a new Confirmation Statement Submission",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Confirmation Statement"
        ],
        "responses": {
          "201": {
            "description": "A Confirmation Statement Submission has been created.",
            "schema": {
              "$ref": "#/definitions/ConfirmationStatementCreated"
            }
          },
          "400": {
            "description": "The provided Company Number failed validation",
            "schema": {
              "$ref": "#/definitions/CompanyValidationResponse"
            }
          }
        }
      }
    },
    "/transactions/{transaction_id}/confirmation-statement/{confirmation_statement_submission_id}": {
      "parameters": [
        {
          "name": "transaction_id",
          "in": "path",
          "required" : true,
          "type" : "string"
        },
        {
          "name": "confirmation_statement_submission_id",
          "in": "path",
          "required" : true,
          "type" : "string"
        }
      ],
      "get": {
        "summary": "Retrieve a Confirmation Statement Submission",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Confirmation Statement"
        ],
        "responses": {
          "200": {
            "description": "The Specified Confirmation Statement Submission.",
            "schema": {
              "$ref": "#/definitions/ConfirmationStatementSubmission"
            }
          },
          "401": {
            "description": "You are unauthorised to retrieve this submisison",
            "schema": {
              "$ref": "#/definitions/UpdateSubmissionFieldsError"
            }
          }
        }
      },
      "post": {
        "summary": "Update a Confirmation Statement Submission",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Confirmation Statement",
            "in": "body",
            "required" : true,
            "schema": {
              "$ref": "#/definitions/ConfirmationStatementSubmission"
            }
          }
        ],
        "tags": [
          "Confirmation Statement"
        ],
        "responses": {
          "200": {
            "description": "The Specified Confirmation Statement Submission has been updated.",
            "schema": {
              "$ref": "#/definitions/ConfirmationStatementSubmission"
            }
          },
          "400": {
            "description": "There was an error updating the submission",
            "schema": {
              "$ref": "#/definitions/UpdateSubmissionFieldsError"
            }
          },
          "401": {
            "description": "You are unauthorised to update this submisison",
            "schema": {
              "$ref": "#/definitions/UpdateSubmissionFieldsError"
            }
          }
        }
      }
    },
    "/transactions/{transaction_id}/confirmation-statement/{confirmation_statement_submission_id}/submit": {
      "parameters": [
        {
          "name": "transaction_id",
          "in": "path",
          "required" : true,
          "type" : "string"
        },
        {
          "name": "confirmation_statement_submission_id",
          "in": "path",
          "required" : true,
          "type" : "string"
        }
      ],
      "post": {
        "summary": "Finalise and Submit a Confirmation Statement Submission WIP",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Confirmation Statement"
        ],
        "responses": {
          "202": {
            "description": "The Confirmation Statement Submission has been submitted",
            "schema": {
              "$ref": "#/definitions/ConfirmationStatementSubmission"
            }
          }
        }
      }
    },
    "/confirmation-statement/company/{company_number}/statement-of-capital": {
      "parameters": [
        {
          "name": "company_number",
          "in": "path",
          "required" : true,
          "type" : "string"
        }
      ],
      "get": {
        "summary": "Get Statement of capital data",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Statement of capital"
        ],
        "responses": {
          "200": {
            "description": "Statement of capital data",
            "schema": {
              "$ref": "#/definitions/StatementOfCapitalResponse"
            }
          },
          "404": {
            "description": "Statement of capital data not found"
          }
        }
      }
    },
    "/confirmation-statement/company/{company_number}/eligibility": {
      "parameters": [
        {
          "name": "company_number",
          "in": "path",
          "required" : true,
          "type" : "string"
        }
      ],
      "get": {
        "summary": "Checks if a Company is Eligible to use this API",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Confirmation Statement"
        ],
        "responses": {
          "200": {
            "description": "The Company can use this service to file a Confirmation Statement",
            "schema": {
              "$ref": "#/definitions/CompanyValidationResponse"
            }
          },
          "400": {
            "description": "The Company can not use this service to file a Confirmation Statement",
            "schema": {
              "$ref": "#/definitions/CompanyValidationResponse"
            }
          }
        }
      }
    },
    "/confirmation-statement/company/{company_number}/active-director-details": {
      "parameters": [
        {
          "name": "company_number",
          "in": "path",
          "required" : true,
          "type" : "string"
        }
      ],
      "get": {
        "summary": "Get the active officer details",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Active officer details"
        ],
        "responses": {
          "200": {
            "description": "Active officer details",
            "schema": {
              "$ref": "#/definitions/ActiveDirectorDetailsResponse"
            }
          },
          "404": {
            "description": "Active officer details not found",
            "schema": {
              "$ref": "#/definitions/ActiveDirectorDetailsResponse"
            }
          }
        }
      }
    },
    "/confirmation-statement/company/{company-number}/persons-of-significant-control": {
      "parameters": [
        {
          "name": "company-number",
          "in": "path",
          "required" : true,
          "type" : "string"
        }
      ],
      "get": {
        "summary": "Get the details of the persons of significant control",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Persons of significant control"
        ],
        "responses": {
          "200": {
            "description": "List of person of significant control",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonsOfSignificantControlResponse"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ConfirmationStatementCreated": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "ConfirmationStatementSubmission": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      }
    },
    "CompanyValidationResponse": {
      "type": "object",
      "properties": {
        "eligibility_status_code": {
          "$ref": "#/definitions/EligibilityStatusCode"
        }
      }
    },
    "EligibilityStatusCode": {
      "type": "string",
      "enum": [
        "COMPANY_NOT_FOUND",
        "COMPANY_VALID_FOR_SERVICE",
        "INVALID_COMPANY_APPOINTMENTS_INVALID_NUMBER_OF_OFFICERS",
        "INVALID_COMPANY_APPOINTMENTS_MORE_THAN_ONE_PSC",
        "INVALID_COMPANY_APPOINTMENTS_MORE_THAN_ONE_SHAREHOLDER",
        "INVALID_COMPANY_STATUS",
        "INVALID_COMPANY_TRADED_STATUS_USE_WEBFILING",
        "INVALID_COMPANY_TYPE_CS01_FILING_NOT_REQUIRED",
        "INVALID_COMPANY_TYPE_PAPER_FILING_ONLY",
        "INVALID_COMPANY_TYPE_USE_WEB_FILING"
      ]
    },
    "UpdateSubmissionFieldsError": {
      "type": "object",
      "properties": {
        "update_submission_fields_error": {
          "$ref": "#/definitions/UpdateSubmissionFieldsErrorTypes"
        }
      }
    },
    "UpdateSubmissionFieldsErrorTypes": {
      "type": "string",
      "enum": [
        "TRANSACTION_NOT_FOUND",
        "SUBMISSION_NOT_FOUND",
        "SUBMISSION_NOT_RELATED_TO_TRANSACTION",
        "TRANSACTION_ALREADY_CLOSED",
        "USER_UNAUTHORISED_TO_UPDATE_SUBMISSION"
      ]
    },
    "StatementOfCapitalResponse": {
      "type": "object",
      "properties": {
        "classOfShares":  {
          "type": "string"
        },
        "currency":  {
          "type": "string"
        },
        "numberAllotted":  {
          "type": "integer"
        },
        "aggregateNominalValue":  {
          "type": "integer"
        },
        "prescribedParticulars":  {
          "type": "string"
        },
        "totalCurrency":  {
          "type": "string"
        },
        "totalNumberOfShares":  {
          "type": "integer"
        },
        "totalAggregateNominalValue":  {
          "type": "integer"
        },
        "totalAmountUnpaidForCurrency":  {
          "type": "integer"
        }
      }
    },
    "ActiveDirectorDetailsResponse": {
      "type": "object",
      "properties": {
        "fore_name_1":  {
          "type": "string"
        },
        "fore_name_2":  {
          "type": "string"
        },
        "surname":  {
          "type": "string"
        },
        "occupation":  {
          "type": "string"
        },
        "nationality":  {
          "type": "string"
        },
        "date_of_birth":  {
          "type": "string"
        },
        "service_address_line_1":  {
          "type": "string"
        },
        "service_address_post_town":  {
          "type": "string"
        },
        "service_address_post_code":  {
          "type": "string"
        },
        "ura_line_1":  {
          "type": "string"
        },
        "ura_post_town":  {
          "type": "string"
        },
        "ura_post_code":  {
          "type": "string"
        },
        "secure_indicator":  {
          "type": "string"
        }
      }
    },
    "PersonsOfSignificantControlResponse": {
      "type": "object",
      "properties": {
        "address": {
          "$ref": "#/definitions/Address"
        },
        "natures_of_control": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "date_of_birth": {
          "$ref": "#/definitions/DateOfBirth"
        },
        "name": {
          "type": "string"
        },
        "nameElements": {
          "$ref": "#/definitions/NameElements"
        },
        "nationality": {
          "type": "string"
        },
        "appointment_type": {
          "type": "string"
        },
        "service_address_line_1": {
          "type": "string"
        },
        "service_address_post_code": {
          "type": "string"
        },
        "service_address_post_town": {
          "type": "string"
        },
        "company_name": {
          "type": "string"
        },
        "registration_number": {
          "type": "string"
        },
        "law_governed": {
          "type": "string"
        },
        "legal_form": {
          "type": "string"
        },
        "country_of_residence": {
          "type": "string"
        }
      }
    },
    "Address": {
      "type": "object",
      "properties": {
        "address_line_1": {
          "type": "string"
        },
        "address_line_2": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "locality": {
          "type": "string"
        },
        "po_box": {
          "type": "string"
        },
        "postal_code": {
          "type": "string"
        },
        "premises": {
          "type": "string"
        },
        "region": {
          "type": "string"
        }
      }
    },
    "DateOfBirth": {
      "type": "object",
      "properties": {
        "month": {
          "type": "string"
        },
        "year": {
          "type": "string"
        }
      }
    },
    "NameElements": {
      "type": "object",
      "properties": {
        "forename": {
          "type": "string"
        },
        "other_forenames": {
          "type": "string"
        },
        "surname": {
          "type": "string"
        }
      }
    }
  }
}
