{
  "swagger": "2.0",
  "info": {
    "description": "An API to allow digital filing of a confirmation statement",
    "version": "1.0.0",
    "title": "Companies House - Confirmation Statement API"
  },
  "host": "internalapi.companieshouse.gov.uk",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "Confirmation Statement"
    }
  ],
  "paths": {
    "/transactions/{transaction_id}/confirmation-statement": {
      "parameters": [
        {
          "name": "transaction_id",
          "in": "path",
          "required" : true,
          "type" : "string"
        }
      ],
      "post": {
        "summary": "Create a new Confirmation Statement Submission",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Confirmation Statement"
        ],
        "responses": {
          "201": {
            "description": "A Confirmation Statement Submission has been created.",
            "schema": {
              "$ref": "#/definitions/ConfirmationStatementCreated"
            }
          },
          "400": {
            "description": "The provided Company Number failed validation",
            "schema": {
              "$ref": "#/definitions/CompanyValidationResponse"
            }
          }
        }
      }
    },
    "/transactions/{transaction_id}/confirmation-statement/{confirmation_statement_submission_id}": {
      "parameters": [
        {
          "name": "transaction_id",
          "in": "path",
          "required" : true,
          "type" : "string"
        },
        {
          "name": "confirmation_statement_submission_id",
          "in": "path",
          "required" : true,
          "type" : "string"
        }
      ],
      "get": {
        "summary": "Retrieve a Confirmation Statement Submission",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Confirmation Statement"
        ],
        "responses": {
          "200": {
            "description": "The Specified Confirmation Statement Submission.",
            "schema": {
              "$ref": "#/definitions/ConfirmationStatementSubmission"
            }
          },
          "401": {
            "description": "You are unauthorised to retrieve this submisison",
            "schema": {
              "$ref": "#/definitions/UpdateSubmissionFieldsError"
            }
          }
        }
      },
      "post": {
        "summary": "Update a Confirmation Statement Submission",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Confirmation Statement",
            "in": "body",
            "required" : true,
            "schema": {
              "$ref": "#/definitions/ConfirmationStatementFields"
            }
          }
        ],
        "tags": [
          "Confirmation Statement"
        ],
        "responses": {
          "200": {
            "description": "The Specified Confirmation Statement Submission has been updated.",
            "schema": {
              "$ref": "#/definitions/ConfirmationStatementSubmission"
            }
          },
          "400": {
            "description": "There was an error updating the submission",
            "schema": {
              "$ref": "#/definitions/UpdateSubmissionFieldsError"
            }
          },
          "401": {
            "description": "You are unauthorised to update this submisison",
            "schema": {
              "$ref": "#/definitions/UpdateSubmissionFieldsError"
            }
          }
        }
      }
    },
    "/transactions/{transaction_id}/confirmation-statement/{confirmation_statement_submission_id}/submit": {
      "parameters": [
        {
          "name": "transaction_id",
          "in": "path",
          "required" : true,
          "type" : "string"
        },
        {
          "name": "confirmation_statement_submission_id",
          "in": "path",
          "required" : true,
          "type" : "string"
        }
      ],
      "post": {
        "summary": "Finalise and Submit a Confirmation Statement Submission WIP",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Confirmation Statement"
        ],
        "responses": {
          "202": {
            "description": "The Confirmation Statement Submission has been submitted",
            "schema": {
              "$ref": "#/definitions/ConfirmationStatementSubmission"
            }
          }
        }
      }
    },
    "/confirmation-statement/company/{company_number}/eligibility": {
      "parameters": [
        {
          "name": "company_number",
          "in": "path",
          "required" : true,
          "type" : "string"
        }
      ],
      "get": {
        "summary": "Checks if a Company is Eligible to use this API",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Confirmation Statement"
        ],
        "responses": {
          "200": {
            "description": "The Company can use this service to file a Confirmation Statement",
            "schema": {
              "$ref": "#/definitions/CompanyValidationResponse"
            }
          },
          "400": {
            "description": "The Company can not use this service to file a Confirmation Statement",
            "schema": {
              "$ref": "#/definitions/CompanyValidationResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ConfirmationStatementCreated": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "ConfirmationStatementFields": {
      "type": "object",
      "properties": {
        "officers": {
          "$ref": "#/definitions/ConfirmationStatementFieldsValues"
        },
        "persons_with_significant_control": {
          "$ref": "#/definitions/ConfirmationStatementFieldsValues"
        },
        "registered_office_address": {
          "$ref": "#/definitions/ConfirmationStatementFieldsValues"
        },
        "register_locations": {
          "$ref": "#/definitions/ConfirmationStatementFieldsValues"
        },
        "shareholders": {
          "$ref": "#/definitions/ConfirmationStatementFieldsValues"
        },
        "sic_codes": {
          "$ref": "#/definitions/ConfirmationStatementFieldsValues"
        },
        "statement_of_capital": {
          "$ref": "#/definitions/ConfirmationStatementFieldsValues"
        },
        "traded_status": {
          "$ref": "#/definitions/ConfirmationStatementFieldsValues"
        }
      }
    },
    "ConfirmationStatementSubmission": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "created_by": {
          "$ref": "#/definitions/CreatedBy"
        },
        "company_number": {
          "type": "string",
          "format": "string"
        },
        "data": {
          "$ref": "#/definitions/ConfirmationStatementFields"
        }
      }
    },
    "CompanyValidationResponse": {
      "type": "object",
      "properties": {
        "eligibility_status_code": {
          "$ref": "#/definitions/EligibilityStatusCode"
        }
      }
    },
    "EligibilityStatusCode": {
      "type": "string",
      "enum": [
        "COMPANY_NOT_FOUND",
        "COMPANY_VALID_FOR_SERVICE",
        "INVALID_COMPANY_APPOINTMENTS_MORE_THAN_ONE_OFFICER",
        "INVALID_COMPANY_APPOINTMENTS_MORE_THAN_ONE_PSC",
        "INVALID_COMPANY_STATUS",
        "INVALID_COMPANY_TYPE_CS01_FILING_NOT_REQUIRED",
        "INVALID_COMPANY_TYPE_PAPER_FILING_ONLY",
        "INVALID_COMPANY_TYPE_USE_WEB_FILING"
      ]
    },
    "UpdateSubmissionFieldsError": {
      "type": "object",
      "properties": {
        "update_submission_fields_error": {
          "$ref": "#/definitions/UpdateSubmissionFieldsErrorTypes"
        }
      }
    },
    "UpdateSubmissionFieldsErrorTypes": {
      "type": "string",
      "enum": [
        "TRANSACTION_NOT_FOUND",
        "SUBMISSION_NOT_FOUND",
        "SUBMISSION_NOT_RELATED_TO_TRANSACTION",
        "TRANSACTION_ALREADY_CLOSED",
        "USER_UNAUTHORISED_TO_UPDATE_SUBMISSION"
      ]
    },
    "ConfirmationStatementFieldsValues": {
      "type": "string",
      "enum": [
        "CONFIRMED",
        "NOT_CONFIRMED",
        "UPDATED_FORM_RECENTLY_SUBMITTED"
      ]
    },
    "CreatedBy": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "email": {
          "type": "string",
          "format": "email"
        }
      }
    }
  }
}
